<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Customer Booking | Autoking</title>
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="theme-color" content="#0091AA">
    <link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet">
    <link rel="stylesheet" href="css/booking.css">
  </head>
  <body>
    <header class="shdw2">
      <h1>Booking Details</h1>

      <a href="tel:9992902923"><img src="images/phone.png" class="phn" alt="call"></a>
      <a href="#chat"><img src="images/chat.png" id="chatOpen" class="phn" alt="call"></a>
    </header>
    <div class="details">
      <h2>Booking Number</h2>
      <p>{{id}}</p>
      <h2>Customer Name</h2>
      <p>{{customer}}</p>
      <h2>Vehicle</h2>
      <p>{{veh}}</p>
      <h2>Fuel</h2>
      <p>{{fuel}}</p>
      <h2>Preferred Time</h2>
      <p>{{time}}</p>
      <h2>Services Needed</h2>
      <ul>
        {{{service}}}
      </ul>
      {{{pnd}}}
    </div>
    <div class="vehicleTracking">
      <h2>Vehicle Tracking</h2>
      <button type="button" name="arrived">Vehicle arrived</button>
      <button type="button" name="estimate">Provide Estimate</button>
      <button type="button" name="serviceCompleted">Service Completed</button>
      <div id="estimateModal">

      </div>
    </div>

    <section id="chat">
      <div class="head">
        <div id="close">X</div>
        <h2>{{customer}}</h2>
      </div>
      <div class="msgContainer">
        <div class="msg">
          <div class="msg-in msgBox">
            <p>The Message </p>
          </div>
        </div>
        <div class="msg">
          <div class="msg-out msgBox">
            <p>The Message </p>
          </div>
        </div>
        <div class="msg">
          <div class="msg-out msgBox">
            <p>The Message </p>
          </div>
        </div>
        <div class="msg">
          <div class="msg-in msgBox">
            <p>The Message </p>
          </div>
        </div>
        <div class="msg">
          <div class="msg-out msgBox">
            <p>The Message </p>
          </div>
        </div>
        <div class="msg">
          <div class="msg-out msgBox">
            <p>The Message </p>
          </div>
        </div>

        <div class="msg">
          <div class="msg-in msgBox">
            <p>The Message </p>
          </div>
        </div>
        <div class="msg">
          <div class="msg-out msgBox">
            <p>The Message </p>
          </div>
        </div>
        <div class="msg">
          <div class="msg-out msgBox">
            <p>The Message </p>
          </div>
        </div>

        <div class="msg">
          <div class="msg-in msgBox">
            <p>The Message </p>
          </div>
        </div>
        <div class="msg">
          <div class="msg-out msgBox">
            <p>The Message </p>
          </div>
        </div>
        <div class="msg">
          <div class="msg-out msgBox">
            <p>The Message </p>
          </div>
        </div>

        <div class="msg">
          <div class="msg-in msgBox">
            <p>The Message </p>
          </div>
        </div>
        <div class="msg">
          <div class="msg-out msgBox">
            <p>The Message </p>
          </div>
        </div>
        <div class="msg">
          <div class="msg-out msgBox">
            <p>The Message </p>
          </div>
        </div>

        <div class="msg">
          <div class="msg-in msgBox">
            <p>The Message </p>
          </div>
        </div>
        <div class="msg">
          <div class="msg-out msgBox">
            <p>The Message </p>
          </div>
        </div>
        <div class="msg">
          <div class="msg-out msgBox">
            <p>The Message </p>
          </div>
        </div>

      </div>
      <div class="send">
        <form id="sendForm" method="post">
          <input type="text" placeholder="Type a message">
          <div class="imgBtncontainer">
            <input type="file" id="imgInput" accept="image/*" name="" value="">
          </div>
          <div class="submitContainer">
            <input type="submit">
          </div>
        </form>
      </div>
    </section>
    <script type="text/javascript">
      [
        'js/jquery.js',
        'js/booking.js',
      ].forEach(function(src) {
        var script = document.createElement('script');
        script.src = src;
        script.async = false;
        document.head.appendChild(script);
      });
    </script>
    </body>
</html>
